# Rust and Cargo
/target
**/*.rs.bk
Cargo.lock
/tmp

# Project Tests
generate-subscription-tests/generated_files/*.rs

# JetBrains IDEA project configuration
/.idea

# Temporary New Code-Gen project exclusion
code-gen-new/
